.App {
  text-align: center;
  flex-direction: row;
  display: flex;
}

.App-body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

